.about
 padding-top: 100px
 padding-bottom: 95px
 background: #F9F9F9
 &-title
  max-width: 650px
  margin: 0 auto
  text-align: center
  margin-bottom: 17px
  font-size: 35px
  line-height: 51px
  color: #000000
  span
   border-bottom: 1px solid rgba(0, 0, 0, 0.47)
 &-subtitle
  max-width: 685px
  margin: 0 auto
  text-align: center
  font-size: 18px
  margin-bottom: 55px
  line-height: 30px
 &-dop
  margin-bottom: 18px
  display: flex
  justify-content: center
  align-items: center
  &-img
   filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08))
   margin-right: 30px
  &-text
   max-width: 245px
   font-size: 15px
   line-height: 25px
 &-wrap
  display: flex
  justify-content: space-between
 &-col
  width: 270px
 &-block
  margin-bottom: 50px
  &-img
   width: 82px
   height: 82px
   margin: 0 auto
   margin-bottom: 23px
   display: flex
   justify-content: center
   align-items: center
   background: #FFFFFF
   border: 1px solid #DB6A01
   border-radius: 50%
  &-descr
   text-align: center
   font-size: 16px
   line-height: 25px
 &-main
  position: relative
  z-index: 1
  &-wrap
   margin-top: 50px
   width: 500px
   height: 500px
   border: 1px dashed rgba(185, 185, 185, 0.35)
   border-radius: 50%
   padding: 35px
   position: relative
  &-img
   height: 100%
   border-radius: 50%
   overflow: hidden
   img
    width: 100%
    height: 100%
    object-fit: cover
  &-play
   position: absolute
   left: 13px
   bottom: 55px
   width: 95px
   height: 95px
   display: flex
   justify-content: center
   align-items: center
   background: #DB6A01
   border-radius: 50%
   box-shadow: 0px 4px 20px rgba(219, 106, 1, 0.65), inset 5px 10px 15px #F7973F
   &:hover
    box-shadow: 0px 0px 0px rgba(219, 106, 1, 0.65), inset 5px 10px 15px #F7973F
  &-btn
   width: 260px
   height: 75px
   margin: 0 auto
   margin-top: 28px
