.accessories
 background: #F9F9F9
 padding: 80px 0
 &-nav
  display: flex
 &-arrow
  width: 50px
  height: 50px
  border-radius: 50%
  margin-right: 15px
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid #EF8D34
  &:hover
   cursor: pointer
   background: linear-gradient(180deg, #FFAA5D 0%, #DB6A02 100%)
   path
    fill: #fff
 &-title
  margin: 0 auto
  margin-bottom: 58px
  max-width: 615px
  text-align: center
  font-size: 35px
  line-height: 51px