.five
 padding-top: 75px
 padding-bottom: 105px
 background: #0D0D0D url('../img/five-bg.jpg') center right no-repeat
 position: relative
 z-index: 1
 &2
  background: #0D0D0D url('../img/five-bg2.jpg') center right no-repeat
 &-title
  font-size: 35px
  line-height: 45px
  color: #FFFFFF
  margin-bottom: 85px
  margin-top: 0
  text-align: center
 &-block
  display: flex
  align-items: center
  margin-bottom: 36px
  &-img
   margin-right: 27px
   width: 71px
   height: 71px
   background: rgba(255, 255, 255, 0.14)
   border-radius: 50%
   display: flex
   justify-content: center
   align-items: center
   &2
    padding-bottom: 15px
  &-text
   font-size: 18px
   line-height: 25px
   color: #FFFFFF
 &-btn
  margin-top: 35px
  width: 360px
  height: 75px
@media(max-width: 575px)
 .five
  background: #0D0D0D url('../img/five-bg-mob.png') top center no-repeat
  background-size: contain
  padding-top: 280px
  padding-bottom: 48px
  &2
   background: #0D0D0D url('../img/five-bg2-mob.png') top center no-repeat
   background-size: contain
  &-title
   text-align: left
   margin-bottom: 34px
   font-size: 20px
   line-height: 25px
  &-block
   margin-bottom: 30px
   &-img
    width: 59px
    height: 59px
    margin-right: 15px
   &-text
    max-width: 210px
    font-size: 14px
    line-height: 20px
  &-btn
   margin-top: 10px
   max-width: 100%
   height: 64px
   font-size: 14px
