.footer
 background: #393939
 &-wrap
  height: 140px
  display: flex
  justify-content: space-between
  align-items: center
 &-menu
  width: 532px
  display: flex
  justify-content: space-between
  align-items: center
  a
   font-size: 16px
   line-height: 35px
   text-decoration-line: underline
   color: #FFFFFF
   opacity: 0.5
