.top
 height: 40px
 background: #FFAC5F
 display: flex
 justify-content: center
 align-items: center
 &-block
  font-size: 12px
  text-decoration: none
  line-height: 143.8%
  color: #000000
  padding: 0 20px
  &-active
   font-weight: 700
   cursor: default
  &:first-child
   border-right: 1px solid rgba(0,0,0,0.1)
   padding-right: 21px
.header
 border-bottom: 1px solid rgba(0, 0, 0, 0.06)
 &-wrap
  display: flex
  height: 120px
  justify-content: space-between
  align-items: center
 &-soc
  width: 104px
  background: rgba(0, 0, 0, 0.06)
  border-radius: 50px
  height: 38px
  padding: 4px 3px
  display: flex
  justify-content: space-between
  align-items: center
  &-block
   width: 30px
   height: 30px
   display: flex
   justify-content: center
   align-items: center
   border-radius: 50%
   &:hover
    background-color: #fff
 &-block
  display: flex
  align-items: center
  &-img
   display: flex
   justify-content: center
   align-items: center
   height: 38px
   width: 38px
   margin-right: 9px
   border: 0.5px solid rgba(0, 0, 0, 0.15)
   border-radius: 50%
  &-text
   font-weight: 500
   font-size: 12px
   line-height: 143.8%
   color: rgba(0, 0, 0, 0.72)
 &-phone
  display: flex
  align-items: center
  &-text
   margin-left: 8px
   font-weight: 300
   font-size: 10px
   line-height: 13px
   text-align: right
   color: rgba(0, 0, 0, 0.72)
  &-num
   display: block
   font-weight: bold
   font-size: 20px
   line-height: 25px
   color: rgba(0, 0, 0, 0.72)
  &-call
   font-size: 12px
   line-height: 15px
   text-align: right
   text-decoration-line: underline
   color: #DB6A01
   &:hover
    opacity: 0.8
.nav
 &-wrap
  display: flex
  align-items: center
  justify-content: space-between
 &-right
  display: flex
  align-items: center
 &-menu
  width: 870px
  display: flex
  justify-content: space-between
  a
   text-decoration: none
   line-height: 75px
   border-top: 3px solid transparent
   font-size: 14px
   color: rgba(0, 0, 0, 0.81)
   &:hover
    color: #EF8421
    font-weight: 700
    border-top: 3px solid #EF8421
 &-cart
  width: 46px
  height: 46px
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid #DB6A01
  border-radius: 50%
  margin-left: 20px
  &:hover
   background: linear-gradient(180deg, #FFAA5D 0%, #DB6A02 100%)
   border: 0
