.main
 padding-top: 30px
 position: relative
 &-before
  position: absolute
  bottom: -180px
  left: -40px
  z-index: 2
 &-after
  position: absolute
  background: #F9F9F9
  top: -700px
  right: -720px
  width: 1326px
  border-radius: 50%
  height: 1551px
  z-index: -1
 .container
  position: relative
 &-img
  pointer-events: none
  position: absolute
  top: 0
  right: -170px
  width: 630px
  height: 600px
  display: flex
  justify-content: center
  align-items: center
  z-index: 3
  &-dop
   width: 130px
   height: 130px
   position: absolute
   left: 0
   top: 40px
   background: #98C75E
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2)
   padding: 12px
   border-radius: 50%
   &-wrap
    height: 100%
    border-radius: 50%
    border: 1px solid rgba(255, 255, 255, 0.39)
    flex-wrap: wrap
    font-size: 15px
    line-height: 20px
    text-align: center
    letter-spacing: 0.01em
    color: #FFFFFF
    padding-top: 30px
    span
     font-size: 30px
     font-weight: 700
 &-top
  width: 177px
  height: 44px
  margin-bottom: 18px
  border: 1px solid #DB6A01
  border-radius: 5px
  font-weight: 500
  font-size: 16px
  line-height: 42px
  text-align: center
 &-title
  font-weight: 400
  font-size: 40px
  line-height: 50px
  letter-spacing: 0.01em
  margin: 0
 &-subtitle
  margin-bottom: 21px
  font-size: 14px
  line-height: 40px
  letter-spacing: 0.01em 
 &-warn
  width: 470px
  height: 80px
  margin-bottom: 25px
  background: #FFFFFF
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  display: flex
  align-items: center
  justify-content: center
  &-icon
   width: 36px
   height: 36px
   border-radius: 50%
   display: flex
   justify-content: center
   align-items: center
   margin-right: 22px
   background: #EF8D34
   box-shadow: 0px 4px 20px #DB6A01, inset 0px 4px 10px #FFB977
  &-text
   max-width: 360px
   font-size: 12px
   line-height: 18px
   color: #000000
 &-prize
  display: flex
  align-items: center
  margin-bottom: 35px
  position: relative
  z-index: 3
  &-text
   font-weight: 300
   margin-right: 15px
   font-size: 18px
   line-height: 25px
   b
    display: block
  &-block
   width: 100px
   height: 86px
   background: #FBFBFB
   border: 1px solid rgba(0, 0, 0, 0.06)
   border-radius: 4px
   span
    text-align: center
    display: block
    font-size: 12px
    line-height: 35px
    color: #DB6A01
    font-weight: 700
  &-img
   margin: 0 auto
   margin-top: 18px
   width: 29px
   height: 29px
   display: flex
   justify-content: center
   align-items: center
  &-plus
   margin: 0 18px
   font-weight: 500
   font-size: 25px
   line-height: 29px
 &-btn
  position: relative
  z-index: 3
  &::after
   content: ""
   width: 108px
   height: 89px
   background: url('../img/main-btn.png')
   position: absolute
   right: -40px
   bottom: -5px
 &-bottom
  margin-top: 70px
  &-wrap
   background: #F9F9F9
   height: 80px
   width: calc(100% + 300px)
   position: relative
   left: -150px
   padding-left: 150px
   display: flex
   align-items: center
  &-block
   position: relative
   z-index: 3
   display: flex
   align-items: center
   margin-right: 35px
   font-size: 14px
   line-height: 20px
   color: #000000
   img
    margin-right: 8px
   b
    margin: 0 4px
@media(max-width: 1630px)
 .main-before
  width: 240px
  img
   max-width: 100%
@media(max-width: 1420px)
 .main-before
  width: 140px
  bottom: 0
@media(max-width: 1199px)
 .main
  &-before
   display: none
  &-img
   width: 400px
@media(max-width: 991px)
 .main
  &-img
   position: static
   width: 100%
   height: auto
   margin-top: -100px
   &-dop
    left: 80px
    top: 140px
   img
    max-width: 100%
@media(max-width: 767px)
 .main
  &-img
   margin-top: -50px
  &-bottom
   &-wrap
    padding-top: 1px
    padding-bottom: 1px
    display: block
    height: auto
   &-block
    margin: 10px 0
@media(max-width: 575px)
 .main
  &-img
   margin-bottom: 25px
   margin-top: -55px
   &-dop
    left: auto
    right: 15px
    top: 40px
    width: 84px
    height: 84px
    padding: 5px
    &-wrap
     padding-top: 12px
  &-top
   width: 131px
   height: 38px
   font-size: 12px
   line-height: 36px
  &-title
   font-size: 23px
   line-height: 30px
   margin-bottom: 13px
  &-subtitle
   font-size: 12px
   margin-bottom: 22px
   line-height: normal
  &-warn
   width: 100%
   &-text
    max-width: 70%
  &-prize
   flex-wrap: wrap
   &-text
    margin-bottom: 10px
  &-btn
   max-width: 100%
   font-size: 12px
   height: 78px
   line-height: normal
   padding: 0 30px
   padding-right: 50px
   text-align: left
   margin-bottom: 20px
  &-bottom
   margin-top: 35px
